@media screen and (max-width: 960px) {
  img {
    width: 100% !important;
    height: 100% !important;
  }
}

.mat-flat-button.large {
  width: 100%;

  height: 46px;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.mat-icon-form-data {
  font-size: 30px;
  height: 30px;
  width: 30px;
}
