<app-page [busy]="busy">
  <app-page-header>
    <ng-container header>Attach Photo of Ticket</ng-container>
  </app-page-header>

  <div>
    <!--
    <mat-button-toggle-group
      (change)="toggleWebcam($event)"
      [formControl]="photoCaptureType"
      class="mb-4"
      aria-label="Photo Capture"
    >
      <mat-button-toggle value="upload" class="col-sm">
        <mat-icon inline="true">upload_file</mat-icon>
        Upload Photo
      </mat-button-toggle>
      <mat-button-toggle value="take" class="col-sm">
        <mat-icon inline="true">photo_camera</mat-icon>
        Take Photo
      </mat-button-toggle>
    </mat-button-toggle-group>
-->

    <div>
      <!-- *ngIf="showWebcam; else noShowWebcamImage">-->
      <div *ngIf="webcamImage; else noWebcamImage">
        <div class="row">
          <div class="col-md-6">
            <img
              [src]="webcamImage.imageAsDataUrl"
              style="max-height: 700px; max-width: 500px"
            /><br />

            <button
              type="button"
              mat-flat-button
              color="primary"
              class="mt-2 mb-4"
              (click)="webcamImage = null"
            >
              Try Again
            </button>
          </div>
          <div
            class="col-md-6 p-0"
            *ngIf="formInfo && processImageFromCam === true"
          >
            <h2>Is this correct?</h2>
            <ng-container *ngFor="let info of formInfo; let i = index">
              <div class="row mt-4">
                <div class="col-md-4">{{ info.label }}:</div>
                <div class="col-md-5">
                  <strong>{{ info.data }}</strong>
                </div>
                <div class="col-md-3">
                  <button mat-icon-button class="mat-icon-form-data">
                    <mat-icon inline="true"> check_circle</mat-icon>
                  </button>
                  <button mat-icon-button class="ml-3 mat-icon-form-data">
                    <mat-icon inline="true"> edit</mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <ng-template #noWebcamImage>
        <webcam
          [trigger]="triggerObservable"
          (imageCapture)="handleImage($event)"
          *ngIf="showWebcam"
          [allowCameraSwitch]="true"
          [switchCamera]="nextWebcamObservable"
          [videoOptions]="videoOptions"
          [imageQuality]="1"
          mirrorImage="never"
          (cameraSwitched)="cameraWasSwitched($event)"
          (initError)="handleInitError($event)"
        >
        </webcam
        ><br />

        <button
          type="button"
          mat-flat-button
          color="primary"
          class="mt-2"
          (click)="triggerSnapshot()"
        >
          Take A Snapshot
        </button>

        <button
          type="button"
          mat-flat-button
          color="primary"
          class="ml-2"
          (click)="showNextWebcam(true)"
          [disabled]="!multipleWebcamsAvailable"
        >
          Show Next Webcam
        </button>
      </ng-template>

      <h4 *ngIf="errors.length > 0">Messages:</h4>
      <ul *ngFor="let error of errors">
        <li>{{ error | json }}</li>
      </ul>
    </div>

    <hr style="border: 1px solid black" />
    <div class="mt-4">
      <div>
        <button
          type="button"
          mat-flat-button
          color="primary"
          (click)="fileInput.click()"
        >
          Upload Photo of Ticket
        </button>
        <h3>{{ fileName || "No file uploaded yet." }}</h3>
        <input
          hidden
          (change)="onFileChange($event)"
          #fileInput
          type="file"
          id="file"
        />
        <!--
        <img
          [src]="imageSrc"
          *ngIf="imageSrc"
          style="max-height: 500px; max-width: 500px"
          class="mb-4"
        />
        -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img
        [src]="imageSrc"
        *ngIf="imageSrc"
        style="max-height: 900px; max-width: 700px"
        class="mb-4"
      />
    </div>
    <div class="col-md-6 p-0" *ngIf="formInfo && processImageFromCam === false">
      <h2>Is this correct?</h2>
      <ng-container *ngFor="let info of formInfo; let i = index">
        <div class="row mt-4">
          <div class="col-md-4">{{ info.label }}:</div>
          <div class="col-md-5">
            <strong>{{ info.data }}</strong>
          </div>
          <div class="col-md-3">
            <button mat-icon-button class="mat-icon-form-data">
              <mat-icon inline="true"> check_circle</mat-icon>
            </button>

            <!--
          <button mat-icon-button>
            <mat-icon inline="true" class="ml-3 mat-icon"> close</mat-icon>
          </button>
          -->

            <button mat-icon-button class="ml-3 mat-icon-form-data">
              <mat-icon inline="true"> edit</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!--
  <section *ngIf="formInfo">
    <h2>Is this correct?</h2>
    <ng-container *ngFor="let info of formInfo; let i = index">
      <div class="row mt-4">
        <div class="col-md-3">{{ info.label }}:</div>
        <div class="col-md-4">
          <strong>{{ info.data }}</strong>
        </div>
        <div class="col-md-5">
          <button mat-icon-button class="mat-icon-form-data">
            <mat-icon inline="true"> check_circle</mat-icon>
          </button>
          <button mat-icon-button class="ml-3 mat-icon-form-data">
            <mat-icon inline="true"> edit</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </section>
-->

  <!--
  <pre>{{ formInfo | json }}</pre>
  -->

  <hr style="border: 1px solid black" />
  <div class="row mt-4">
    <div class="col-md-5">
      <button
        mat-flat-button
        color="primary"
        class="large"
        routerLink="/dispute/find"
        (click)="onCancel()"
      >
        <mat-icon inline="true">read_more</mat-icon>
        Attach Photo to Ticket
      </button>
    </div>
  </div>
</app-page>
